In [209]:
from math import log
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Binarizer 
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [210]:
data = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")
data.drop('customerID',axis=1,inplace=True)
data= pd.DataFrame(data)
print(data)

      gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0     Female              0     Yes         No       1           No
1       Male              0      No         No      34          Yes
2       Male              0      No         No       2          Yes
3       Male              0      No         No      45           No
4     Female              0      No         No       2          Yes
...      ...            ...     ...        ...     ...          ...
7038    Male              0     Yes        Yes      24          Yes
7039  Female              0     Yes        Yes      72          Yes
7040  Female              0     Yes        Yes      11           No
7041    Male              1     Yes         No       4          Yes
7042    Male              0      No         No      66          Yes

         MultipleLines InternetService OnlineSecurity OnlineBackup  \
0     No phone service             DSL             No          Yes
1                   No             DSL            Yes           No
2                   No             DSL            Yes          Yes
3     No phone service             DSL            Yes           No
4                   No     Fiber optic             No           No
...                ...             ...            ...          ...
7038               Yes             DSL            Yes           No
7039               Yes     Fiber optic             No          Yes
7040  No phone service             DSL            Yes           No
7041               Yes     Fiber optic             No           No
7042                No     Fiber optic            Yes           No

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No          No          No              No  Month-to-month
1                 Yes          No          No              No        One year
2                  No          No          No              No  Month-to-month
3                 Yes         Yes          No              No        One year
4                  No          No          No              No  Month-to-month
...               ...         ...         ...             ...             ...
7038              Yes         Yes         Yes             Yes        One year
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges  \
0                 Yes           Electronic check           29.85        29.85
1                  No               Mailed check           56.95       1889.5
2                 Yes               Mailed check           53.85       108.15
3                  No  Bank transfer (automatic)           42.30      1840.75
4                 Yes           Electronic check           70.70       151.65
...               ...                        ...             ...          ...
7038              Yes               Mailed check           84.80       1990.5
7039              Yes    Credit card (automatic)          103.20       7362.9
7040              Yes           Electronic check           29.60       346.45
7041              Yes               Mailed check           74.40        306.6
7042              Yes  Bank transfer (automatic)          105.65       6844.5

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 20 columns]

In [211]:
data['TotalCharges'] = data["TotalCharges"].replace(" ",0)
data['TotalCharges']= pd.to_numeric(data['TotalCharges'])
data['TotalCharges'] = data["TotalCharges"].replace(0,data['TotalCharges'].mean())
data['TotalCharges']
target = data["Churn"]

In [212]:
print ("\nMissing values :  ", data.isnull().sum().values.sum())
print ("\nUnique values :  \n",data.nunique())

Missing values :   0

Unique values :
 gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [225]:
cat = data.nunique()[data.nunique() < 6].keys().tolist()
target_col = ["Churn"]
cat = [x for x in cat if x not in target_col]
num_cols   = [x for x in data.columns if x not in cat + target_col ]
bin_cols = data.nunique()[data.nunique() == 2].keys().tolist()
bin_cols = [x for x in bin_cols if x not in target_col]
multi_cols = [x for x in cat if x not in bin_cols]

#binary encoding
le = preprocessing.LabelEncoder()
for i in bin_cols:
    data[i] = le.fit_transform(data[i])
    print(data[i])

#string -> encoding
le = preprocessing.LabelEncoder()
for i in multi_cols:
    data[i] = le.fit_transform(data[i])
    print(data[i])

0       0
1       1
2       1
3       1
4       0
       ..
7038    1
7039    0
7040    0
7041    1
7042    1
Name: gender, Length: 7043, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: SeniorCitizen, Length: 7043, dtype: int64
0       1
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    1
7041    1
7042    0
Name: Partner, Length: 7043, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    1
7041    0
7042    0
Name: Dependents, Length: 7043, dtype: int64
0       0
1       1
2       0
3       1
4       0
       ..
7038    0
7039    1
7040    0
7041    0
7042    1
Name: tenure, Length: 7043, dtype: int64
0       0
1       1
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: PhoneService, Length: 7043, dtype: int64
0       1
1       0
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    1
7041    1
7042    1
Name: PaperlessBilling, Length: 7043, dtype: int64
0       0
1       0
2       0
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: MonthlyCharges, Length: 7043, dtype: int64
0       0
1       1
2       0
3       1
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    1
Name: TotalCharges, Length: 7043, dtype: int64
0       1
1       0
2       0
3       1
4       0
       ..
7038    2
7039    2
7040    1
7041    2
7042    0
Name: MultipleLines, Length: 7043, dtype: int64
0       0
1       0
2       0
3       0
4       1
       ..
7038    0
7039    1
7040    0
7041    1
7042    1
Name: InternetService, Length: 7043, dtype: int64
0       0
1       2
2       2
3       2
4       0
       ..
7038    2
7039    0
7040    2
7041    0
7042    2
Name: OnlineSecurity, Length: 7043, dtype: int64
0       2
1       0
2       2
3       0
4       0
       ..
7038    0
7039    2
7040    0
7041    0
7042    0
Name: OnlineBackup, Length: 7043, dtype: int64
0       0
1       2
2       0
3       2
4       0
       ..
7038    2
7039    2
7040    0
7041    0
7042    2
Name: DeviceProtection, Length: 7043, dtype: int64
0       0
1       0
2       0
3       2
4       0
       ..
7038    2
7039    0
7040    0
7041    0
7042    2
Name: TechSupport, Length: 7043, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
7038    2
7039    2
7040    0
7041    0
7042    2
Name: StreamingTV, Length: 7043, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
7038    2
7039    2
7040    0
7041    0
7042    2
Name: StreamingMovies, Length: 7043, dtype: int64
0       0
1       1
2       0
3       1
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    2
Name: Contract, Length: 7043, dtype: int64
0       2
1       3
2       3
3       0
4       2
       ..
7038    3
7039    1
7040    2
7041    3
7042    0
Name: PaymentMethod, Length: 7043, dtype: int64

In [226]:
#Binarization
for i in range(len(num_cols)):
    binarizer= Binarizer(data[num_cols[i]].median())
    data[num_cols[i]] = binarizer.fit_transform(data[num_cols[i]].values.reshape(1,-1)).reshape(-1,1)

In [227]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,0,0,1,0,0,2,0,0,0,0,0,1,2,0,0,No
1,1,0,0,0,1,1,0,0,2,0,2,0,0,0,1,0,3,0,1,No
2,1,0,0,0,0,1,0,0,2,2,0,0,0,0,0,1,3,0,0,Yes
3,1,0,0,0,1,0,1,0,2,0,2,2,0,0,1,0,0,0,1,No
4,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,2,1,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,0,1,2,0,2,0,2,2,2,2,1,1,3,1,1,No
7039,0,0,1,1,1,1,2,1,0,2,2,0,2,2,1,1,1,1,1,No
7040,0,0,1,1,0,0,1,0,2,0,0,0,0,0,0,1,2,0,0,No
7041,1,1,1,0,0,1,2,1,0,0,0,0,0,0,0,1,3,1,0,Yes
7042,1,0,0,0,1,1,0,1,2,0,2,2,2,2,2,1,0,1,1,No